<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>登录授权</title>
    <link rel="stylesheet" type="text/css" href="ucenter/view/bootstrap/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="ucenter/view/bootstrap/css/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="ucenter/view/bootstrap/css/bootswatch.css" media="screen" />
</head>
<body>
    <form class="form-horizontal well">
        <fieldset>
            <legend>用户登录授权</legend>
            <div class="control-group">
                <label class="control-label" for="input01">登录账号</label>
                <div class="controls">
                    <input type="text" name="username" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">登录密码</label>
                <div class="controls">
                    <input type="password" name="password" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="optionsCheckbox"></label>
                <div class="controls">
                    <label class="checkbox">
                    <input type="checkbox" name="save_state" value="option1">
                    保持登录
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">登录授权</button>
                <button type="reset" class="btn">取消授权</button>
            </div>
        </fieldset>
      </form>
    
    <script type="text/javascript" src="ucenter/view/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ucenter/view/bootstrap/js/application.js"></script>
    <script type="text/javascript" src="ucenter/view/bootstrap/js/bootswatch.js"></script>
</body>
</html>
