<form class="tab-pane active" id="person_customer"><!--个人客户-->
	<div style="height:120px;overflow: scroll;">
		<div class="control-group" style="border-bottom: 1px dotted #CCC;height: 30px;">
			<p style="float: left;padding:0 10px;">2013-7-9</p>
			<p style="float: left;">备注内容备注内容备注内容备注内容...<a href="javascript:;">[详情]</a></p>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-remove"></i></a>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-pencil"></i></a>
		</div>
		<div class="control-group" style="border-bottom: 1px dotted #CCC;height: 30px;">
			<p style="float: left;padding:0 10px;">2013-7-9</p>
			<p style="float: left;">备注内容备注内容备注内容备注内容...<a href="javascript:;">[详情]</a></p>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-remove"></i></a>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-pencil"></i></a>
		</div>
		<div class="control-group" style="border-bottom: 1px dotted #CCC;height: 30px;">
			<p style="float: left;padding:0 10px;">2013-7-9</p>
			<p style="float: left;">备注内容备注内容备注内容备注内容...<a href="javascript:;">[详情]</a></p>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-remove"></i></a>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-pencil"></i></a>
		</div>
		<div class="control-group" style="border-bottom: 1px dotted #CCC;height: 30px;">
			<p style="float: left;padding:0 10px;">2013-7-9</p>
			<p style="float: left;">备注内容备注内容备注内容备注内容...<a href="javascript:;">[详情]</a></p>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-remove"></i></a>
			<a class="pull-right" style="padding:0 10px;" href="#"><i class="icon-pencil"></i></a>
		</div>
	</div>
	
	<hr style="margin:2px 0;" />
		
    <div class="control-group">
        <label class="control-label" for="textarea">备注内容</label>
        <div class="controls">
            <textarea class="input-xlarge" id="textarea" rows="4"></textarea>
        </div>
    </div>
	
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary" p="submit">添加</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
		</div>
	</div>
</form>