<?php echo $header; ?>
<link rel="stylesheet" type="text/css" href="crm/view/bootstrap/css/signin.css" media="screen" />
<div class="container_body">
	<div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>登录账户</h4>
                        </div>
                        <div class="social">
                            <a class="face_login" href="http://u.itaobox.com/?route=auth/login/taobao&login_from_id=3&login_app_id=5&view=web&redirect=http://crm.itaobox.com/?route=account/redirect">
                                <span class="face_icon">
                                    <img src="image/i_face.png" alt="fb">
                                </span>
                                <span class="text">用淘宝账号登录</span>
                            </a>
                            <div class="division">
                                <hr class="left">
                                <span>or</span>
                                <hr class="right">
                            </div>
                        </div>
                        <div class="form">
                            <form>
                                <input type="text" placeholder="邮 箱">
                                <input type="password" placeholder="密 码">
                                <div class="remember">
                                    <div class="left">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">保持登录</label>
                                    </div>
                                    <div class="right">
                                        <a href="reset.html">忘记密码</a>
                                    </div>
                                </div>
                                <input type="submit" class="btn" value="登录">
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">还没有账号？ <a href="?route=account/sign/up"> 我要注册</a></p>
            </div>
        </div>
    </div>
</div>



<br />
<br />
<a href="http://u.itaobox.com/?route=auth/login/common&from_id=5&view=web&redirect=http://crm.itaobox.com/?route=home">普通登录</a>