.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 0;/*1.9em*/
}
.stats .stat {
	display: table-cell;
	width: 40%;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #999;
}
.stat-value {
	display: block;
	margin-bottom: .55em;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}
.stat-time {
	text-align: center;
	padding-top: 1.5em;
}